body{
    color:rgb(131, 132, 131);
 background-color: rgb(109, 141, 20);
font-family:"Faculty Glyphic",serif;
}
.chamada {
background: rgb(2, 240, 109);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.categoria {
padding-left: 20px;
padding-right: 20px;
}

div {
margin-right: 20px;
}

.chamada-texto {
margin-right: 5%;
margin-left: 5%;
}

img {
height: 200px;
}

.categoria-videos {
display: flex;
overflow-x: auto;
gap: 10px;
}

h1 {
font-size: 30px;
}

p {
font-size: 20px;
}